.root{
    -fx-background-image: url("/img/BG.jpg");
}
.button{
    -fx-pref-height: 40px;
    -fx-max-width: 60px;
    -fx-background-color:rgb(102,205,0);
    -fx-font-size: 12px;
}

#keywordsField{
    -fx-background-color:rgb(102,205,0) ;
}
#genderComboBox{
    -fx-background-color: rgb(0,205,102);
}
#genderComboBox2{
    -fx-background-color: rgb(0,205,102);
}